src/UpdateOADaoKuan/.settings/*
src/UpdateOADaoKuan/.local/*
src/UpdateYongyou/.settings/*
src/UpdateYongyou/.local/*
src/GetLinkedInAndCSDNData/.settings/*
src/GetLinkedInAndCSDNData/.local/*
src/AzureData/.settings/*
src/AzureData/.local/*
src/WeChatOfficial/.settings/*
src/WeChatOfficial/.local/*
src/ProjectApproval/.local/*
src/ProjectApproval/.settings/*
src/WeChatEssay/.settings/*
src/WeChatEssay/.local/*
src/UpdateOADaoKuanForBeiJingBank/.settings/*
src/UpdateOADaoKuanForBeiJingBank/.local/*
src/LingYin.Apply/.settings/*
src/LingYin.Apply/.local/*
src/LingYin.Issue/.settings/*
src/LingYin.Issue/.local/*
src/YongYou.AddPO/.settings/*
src/YongYou.AddPO/.local/*
src/GetLinkDataByDay/.settings/*
src/GetLinkDataByDay/.local/*
src/Stocks.Monitored/.settings/*
src/Stocks.Monitored/.local/*
src/ProjectApprovalForOA/.settings/*
src/ProjectApprovalForOA/.local/*

